<form action="<%= users_url %>" method="post">

  <h3>Choose some subjects you're interested in</h3>
  <h4>Subjects:</h4>
  <ul>
    <% @subjects.each do |subject| %>
    <li><input
          type="checkbox"
          name="user[subject_ids][]"
          value="<%=subject.id%>"
          id="subject_id">
        <label for="subject_id"><%=subject.name%></label>
        <% end %>
        <br>
        </li>

  <label for="user_username">Username</label>
  <input type="text" name="user[username]" id="user_username">

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">

  <input type="submit" value="Sign Up">
</form>


<%=link_to "log in", new_session_url, :method => :get%>