<form action="<%= users_url %>" method="post">

  <label for="user_username">Username</label>
  <input type="text" name="user[username]" id="user_username">

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">

  <input type="submit" value="Sign Up">
</form>

<%=link_to "log in", new_session_url, :method => :get%>