<ul id="comments_for_answer<%=id%>">
<% comments.forEach(function(comment) { %>
  <li>
    <%=comment.text%>
    <br>
    -<%=comment.user.username%>
    <%=getTimeStamp(comment.created_at)%>
  </li>
<% }) %>
</ul>