<textarea class="question_body"></textarea>
<br>
<a href="#" class="add_tag">Add Topic</a>
<br>
<div class="select_area"></div>
<input type="submit" value="ask question" class="question_form_submit">
