<label for="question_title">Question</label>
<input type="text" class="question_title" id="question_title">
<label for="question body">Elaborate(optional)</label>
<textarea class="question_body" id="question_body"></textarea>
<br>
<a href="#" class="add_tag">Add Topic</a>
<br>
<div class="select_area"></div>
<input type="submit" value="ask question" class="question_form_submit">
