/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.sidebar {
  float: left;
  width: 200px;
}

.vote_text {
  font-size: 12px;
}

.vote_count {
  font-size: 12px;
}

.delete_answer {
  font-size: 12px;
}

.get_most_popular {
  margin-left: 10px;
}

.follow_question {
  font-size: 12px;
}

.post_comment {
  font-size: 12px;
}

.comment_count {
  font-size: 12px;
}

.feed {
  float: left;
  margin-left: 100px;
  width: 400px;
}